# PostgreSQL (used by Docker Compose to init the DB container)
POSTGRES_USER=<your-username>
POSTGRES_PASSWORD=<your-password>
POSTGRES_DB=<your-database-name>
POSTGRES_PORT=5432

# PgAdmin
PGADMIN_EMAIL=<your-pgadmin-email>
PGADMIN_PASSWORD=<your-pgadmin-password>
PGADMIN_PORT=5050

# Ports
BACKEND_PORT=8080
FRONTEND_PORT=8000
