# App
APP_PORT=8080
APP_NAME=cmu-review-backend
APP_ENV=development
APP_CORS_ALLOW_ORIGINS=<your-allowed-origins>
APP_CORS_ALLOW_METHODS=<your-allowed-methods>
APP_CORS_ALLOW_HEADERS=<your-allowed-headers>

# Database
DATABASE_URL=<your-database-url>
DATABASE_MAX_OPEN_CONNS=25
DATABASE_MAX_IDLE_CONNS=10
DATABASE_CONN_MAX_LIFETIME=300
